<div id="body">
    <ul id="contacts"></ul>
    
    <form id="saveContactForm" method="post">
        <h3>Criando um novo contato</h3>
        <p>
            <label for="contactId">Id:</label>
            <input type="text" name="Id" />
        </p>
        <p>
            <label for="contactName">Nome:</label>
            <input type="text" name="Name" />
        </p>
        <input type="button" id="saveContact" value="Save" />
    </form>
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/ScriptViews/contact.js")
}